# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nl.json
android/.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
android/.gradle/8.3/executionHistory/executionHistory.bin
android/.gradle/8.3/executionHistory/executionHistory.lock
android/.gradle/8.3/fileHashes/fileHashes.bin
android/.gradle/8.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/file-system.probe
android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
android/app/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
android/app/build/intermediates/incremental/debug/mergeDebugResources/merger.xml
android/app/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
android/app/build/intermediates/incremental/debug/packageDebugResources/merger.xml
android/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-af.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-am.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ar.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-as.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-az.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-b+es+419.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-b+sr+Latn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-be.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bg.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-bs.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ca.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-cs.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-da.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-de.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-el.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rAU.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rCA.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rGB.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rIN.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-en-rXC.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es-rES.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es-rUS.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-es.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-et.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-eu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fa.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fi.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr-rCA.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-fr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-gu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-h320dp-port-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-h360dp-land-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-h480dp-land-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-h550dp-port-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-h720dp-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ha.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hdpi-v4.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hi.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-hy.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-in.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-is.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-it.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-iw.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ja.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-jv.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ka.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-km.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-kn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ko.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ku.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ky.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-land.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-large-v4.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ldltr-v21.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ldrtl-v17.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lo.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lt.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-lv.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ml.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mn.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-mr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ms.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-my.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nb.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ne.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-night-v8.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-nl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-or.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pa.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-port.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ps.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rBR.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt-rPT.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-pt.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ro.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ru.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-si.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-small-v4.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-so.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sq.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sv.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-sw600dp-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ta.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-te.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tg.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-th.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tl.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-tr.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uk.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-ur.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-uz.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v16.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v17.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v18.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v21.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v22.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v23.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v24.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v25.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v26.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v28.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-v31.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-vi.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-w320dp-land-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-w360dp-port-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-w480dp-port-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-w600dp-land-v13.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-watch-v20.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-watch-v21.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-xlarge-v4.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rCN.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rHK.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zh-rTW.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values-zu.json
android/app/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values.json
android/app/build/intermediates/source_set_path_map/debug/file-map.txt
android/app/build/outputs/logs/manifest-merger-debug-report.txt
android/.gradle/8.3/dependencies-accessors/dependencies-accessors.lock
